@import '../../styles/themes.scss';

.game {
  max-width: 36em;
  margin:0 auto;
  padding: 0 1em;
  // background-color: red;
  h1 {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    font-size: $h1;
    // background-color: red;
  }
  button {
    font-size: 1em;
    background-color: none;
    border: 0.1em solid $white;
    padding: 0.5em;
    border-radius: 0.2em;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1em;
  }
  button:hover {
    background-color: $primary;
    color: $white;
  }
}

.cardBoard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.8em;
  background-color: red;
}

// .fakeCard {
//   background-color: green;
//   border: 2px solid black;
// }

.result {
  margin-top: 1em;
}